.Projects{
    background-color: black;
}

.Projects .ProjectsContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Projects .Photos{
    width: 70%;
}

.Projects .Paragraph {
    width:65%;

}

.Projects .ProjectsContainer .Thumbnail img{
    max-width:200px;
}
.Projects .ProjectsContainer .Thumbnail img WorkDayScheduler{
    max-width: 200px;
}


.Projects .ProjectsContainer .Text{
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.Projects .ProjectsContainer .Thumbnail{
    padding-left: 2.5%;
    padding-right: 2.5%;
    position: relative;

}

.Projects .ProjectsContainer .Thumbnail .PlayButton{
  position: absolute;
  width: 24%;
  left: 38%;  
  top:29%;
  
}

.Projects .Photos .ProjectsContainer{
    display: flex;
    background: black;
    margin-bottom: 5%;
    height: 300px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px white;
}