.AboutMe{
    background-color: black;
    padding-bottom: 5%;
}

/*.AboutMe .Container{
    display: flex;
    justify-content: left;
}*/

.AboutMe .Container .Text{
    width: 47%;
    margin-left: 3%;
    color: white;
}

.AboutMe .Container.Text .h2{
    font-weight: 900;
    font-size: 46px;
    color: white;
}
.AboutMe .Container .Photo .Me{
    height: 500px;
    border-radius: 10%;
    display: flex;
    justify-content: right;
   

}
.AboutMe .Container .Photo {
    width:50%;
    display: flex;
    justify-content: center;
}