.Container{
    display: flex;
    position: relative;
justify-content: center;
align-items: center;
padding-bottom: 2%;
}
.Container hr{
    position: absolute;
    left: 0;
    width: 124px;
    border: 1px solid #8C1CD1
}

.Container h1{
    color: white;
}